.home {
  display: flex;
  height: 100vh;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.sidebar-wrapper {
  display: flex;
  height: 100vh;
  flex: 0 1 auto;
  position: fixed;
}

.sidebar-mobile {
  background: #eee;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 900;
}

.sidebar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.sidebar-items {
  z-index: 100;
  position: fixed;
  height: 100%;
  background: #eee;
  top: 0;
  left: 0;
  animation: slideIn 0.5s;
}

.home-main {
  width: 100%;
  /* flex: 1 1 0%; */
  margin-left: 250px;
}

.marTop {
  margin-top: 40px;
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .sidebar-wrapper {
    display: none;
  }

  .home-main {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .marTop {
    margin-top: 60px;
  }
}
