.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 100%;
  min-width: 250px;
  z-index: 1200;
  /* overflow-y: scroll; */
  /* padding: 0 10px; */
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.sidebar-logo img {
  height: 55px;
  margin-bottom: 3px;
}

.sidebar-logo h1 {
  font-size: 30px;
}

.sidebar-categories {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 58.4vh;
}

.sidebar-categories img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 6px;
}

.sidebar-categories span {
  text-transform: capitalize;
}

.isActive {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 10px;
  margin-right: 0;
  padding: 7px;
  border-right: 4px solid var(--primary-color);
  padding-right: 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.7px;
  border-radius: 3px;
}

.isActive span {
  margin-left: 5px;
}

.isNotActive {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 10px;
  padding: 7px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.isNotActive span {
  margin-left: 5px;
}

.sidebar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 300;
  padding: 10px;
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.04);
}

.sidebar-user:hover {
  background: rgba(0, 0, 0, 0.02);
}

.sidebar-user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-user-info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar-user-info p {
  font-size: 16px;
  font-weight: 550;
}

.sidebar-userLogin {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.03);
}

.sidebar-userLogin:hover {
  background: rgba(0, 0, 0, 0.04);
}

.sidebar-userLogin h3 {
  margin-left: 10px;
  font-size: 17px;
}
