@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffa504;
  --text-color: #455560;
  --bg-primary: #ffffff;
  --bg-secondary: #fafafb;
}

body {
  margin: 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  background: var(--bg-secondary);
  color: var(--text-color);
}

::selection {
  background: var(--primary-color);
  color: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.7);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
